{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nuestra Mision</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>SmartParking</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/home2">Inicio</a></li>
          <li><a href="/nosotros" class="active">Acerca de Nosotros</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/contactanos">Contactanos</a></li>
          <li><a class="get-a-quote" href="/login">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">


        <div class="page-header d-flex align-items-center" style="background-image: url({% static 'assets/img/celparkeo.jpg' %});">
        </div>
        
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <h2>Acerca de Nosotros</h2>
                <p>Descubre cómo revolucionamos el concepto de estacionamiento con nuestra solución de Smart Parking. Con un diseño moderno y funcional, nuestra tecnología inteligente optimiza la gestión del estacionamiento para mejorar la experiencia de conductores y administradores. ¡Conócenos más!</p>
              </div>
            </div>
          </div>
          <nav>
            <div class="container">
              <ol>
                <li><a href="/home2">Inicio</a></li>
                <li>Sobre nosotros</li>
              </ol>
            </div>
          </nav>
          
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="{% static 'assets/img/video.png'%}" class="img-fluid" alt="">
            <a href="https://youtu.be/bbcSVu-kr2o" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>Nuestra Mision</h3>
            <p>
                Nuestra página web es el punto de encuentro para descubrir cómo revolucionamos el concepto de estacionamiento con nuestra solución de Smart Parking. A través de un diseño moderno y funcional, presentamos cómo nuestra tecnología inteligente optimiza la gestión del estacionamiento, mejorando la experiencia tanto para los conductores como para los administradores. Nuestra plataforma intuitiva y escalable brinda soluciones eficientes y seguras para maximizar la utilización de los espacios y reducir los tiempos de búsqueda de estacionamiento.

                
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Sensores de Monitoreo</h5>
                  <p>Utilizando sensores de monitoreo, recopilamos y enviamos información en tiempo real</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Pagina Web</h5>
                  <p>Optimizada con todas las funciones necesarias para manipular nuestro aplicativo en tiempo real</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Aplicativo Movil</h5>
                  <p>Una experiencia fluida y intuitiva en la palma de tu mano</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Team</span>
          <h2>Nuestro Equipo</h2>

        </div>

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="{% static 'assets/img/Roshi.png' %}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Aaron Apaza Barra</h4>
                <span>Web Development</span>
                <p>
                    Soy un apasionado desarrollador fullstack en constante búsqueda de soluciones creativas y eficientes. Mi enfoque se
                     basa en aprovechar las tecnologías más vanguardistas para impulsar proyectos innovadores y transformadores.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="{% static 'assets/img/Andre.png' %}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Andre Garcia</h4>
                <span>DevOs</span>
                <p>
                    Me caracterizo por mi habilidad para adaptarme rápidamente a entornos cambiantes y asumir nuevos desafíos con entusiasmo. 
                    Mi capacidad para trabajar tanto de forma autónoma como en equipo me permite 
                    colaborar de manera efectiva con profesionales de diversas disciplinas, logrando resultados 
                    excepcionales.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="{% static 'assets/img/Fineas.png' %}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Patricio Venero</h4>
                <span>Fullstack</span>
                <p>
                    Más allá de mi experiencia técnica, me distingo por mi constante deseo de aprendizaje y mejora continua. 
                    Siempre estoy explorando nuevas herramientas y frameworks para mantenerme al tanto de las últimas tendencias en el 
                    desarrollo de software. Estoy comprometido en expandir mis conocimientos
                     y habilidades para superar las expectativas y entregar soluciones de calidad a cada proyecto en el que participo.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="{% static 'assets/img/yo.png' %}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Jaime Rodriguez</h4>
                <span>Fullstack</span>
                <p>
                    Más allá de mi experiencia técnica, me distingo por mi constante deseo de aprendizaje y mejora continua. 
                    Siempre estoy explorando nuevas herramientas y frameworks para mantenerme al tanto de las últimas tendencias en el 
                    desarrollo de software. Estoy comprometido en expandir mis conocimientos
                     y habilidades para superar las expectativas y entregar soluciones de calidad a cada proyecto en el que participo.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="{% static 'assets/img/dante.png' %}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Damte Rodriguez</h4>
                <span>Fullstack</span>
                <p>
                    Más allá de mi experiencia técnica, me distingo por mi constante deseo de aprendizaje y mejora continua. 
                    Siempre estoy explorando nuevas herramientas y frameworks para mantenerme al tanto de las últimas tendencias en el 
                    desarrollo de software. Estoy comprometido en expandir mis conocimientos
                     y habilidades para superar las expectativas y entregar soluciones de calidad a cada proyecto en el que participo.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    

  </main><!-- End #main -->

  
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="/home2.html" class="logo d-flex align-items-center">
          <span>SmartParking</span>
        </a>
        <p>Nuestras Redes</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Enlaces Frecuentes</h4>
        <ul>
          <li><a href="/home2">Inicio</a></li>
          <li><a href="/nosotros">Sobre Nosotros us</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="/contactanos">Contactanos</a></li>
          
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Nuestros Servicios</h4>
        <ul>
          <li><a href="#">Web</a></li>
          <li><a href="#">Web Movil</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contactanos</h4>
        <p>
          José Luis Bustamante y Rivero 04009 <br>
          Arequipa, HFCJ+84H<br>
          Peru <br><br>
          <strong>Phone:</strong> +51 987 048 707<br>
          <strong>Email:</strong> Smartparking@gmail.com<br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>SmartParking</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
      Creado por <a href="/nosotros">Tecsup</a>
    </div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->
  

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>